<!DOCTYPE html>
<html>
  <head>
    <title>WebForum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'index' %>
    <%= stylesheet_pack_tag 'index %>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&family=Catamaran:wght@300;400&family=Dosis:wght@300;400&family=Lato:wght@400;700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Playfair+Display:wght@400;700&family=Poppins&family=Roboto:wght@100;300&family=Teko:wght@300;400&family=Uchen&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
